{{ define "main" }}
<content>
  {{ if .Data.Singular }}
    <h3 class="blog-filter">{{ i18n "filtering-for" }} "{{ .Title }}"</h3>
  {{ end }}
  <ul class="blog-posts">
    {{ range .Pages }}
    <li>
      <div class="blog-post-content">
        <div class="blog-post-title">
          {{ if .Params.link }}
            <a href="{{ .Params.link }}" target="_blank">{{ .Title }} ↪</a>
          {{ else }}
            <a href="{{ .Permalink }}">{{ .Title }}</a>
          {{ end }}
        </div>
        <div class="blog-post-meta">
          <div class="blog-post-date">
            <time datetime='{{ .Date.Format (default "2006-01-02" .Site.Params.listDateFormat) }}' pubdate>
              {{ .Date.Format (default "2006-01-02" .Site.Params.listDateFormat) }}
            </time>
          </div>
        </div>
      </div>
    </li>
    {{ else }}
    <li>
      {{ i18n "no-posts" }}
    </li>
    {{ end }}
  </ul>
</content>
{{ end }}
