{{ define "main" }}
{{ if not .Params.menu }}
<h1>{{ .Title }}</h1>
<p style="color: gray; font-size: 0.9rem">
  Published:
  <time datetime='{{ .Date.Format "2006-01-02" }}' pubdate>
    {{ .Date.Format (default "2006-01-02" .Site.Params.dateFormat) }}
  </time>
  | Updated:
  <time datetime='{{ .Date.Format "2006-01-02" }}'>
    {{ .Lastmod.Format (default "2006-01-02" .Site.Params.dateFormat) }}
  </time>
  |
  <span>{{ .FuzzyWordCount }}</span>
  <span>words</span>
  |
  <span>{{ .ReadingTime }}</span>
  <span>mins</span>
</p>
{{ end }}
{{ if .Params.toc }}
{{ .TableOfContents }}
{{ end }}
{{ if or .Params.math .Site.Params.math }}
{{- partial "math.html" . -}}
{{ end }}
<content>
  {{ .Content }}
</content>
<script src="https://unpkg.com/vanilla-back-to-top@7.2.1/dist/vanilla-back-to-top.min.js"></script>
<script>addBackToTop({
  diameter: 56,
  backgroundColor: "rgb(218, 112, 44)",
  textColor: "#fffcf0"
})</script>
{{ if (findRE "<pre" .Content 1) }}
  {{ $js := resources.Get "/js/copy-code-button.js" | minify }}
  <script src="{{ $js.RelPermalink }}"></script>
{{ end }}
{{ if .Page.Store.Get "hasMermaid" }}
<script type="module">
  import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.esm.min.mjs';
  mermaid.initialize({
    startOnLoad: true,
    theme: "dark",
  });
</script>
{{ end }}
<p>
  {{ range (.GetTerms "tags") }}
    <a class="blog-tags" href="{{ .Permalink }}">#{{ .LinkTitle }}</a>&nbsp;&nbsp;
  {{ end }}
</p>
{{ with .Site.Params.giscus }}
<script src="https://giscus.app/client.js"
        data-repo="{{ .repoName }}"
        data-repo-id="{{ .repoID }}"
        data-category="{{ .category }}"
        data-category-id="{{ .categoryID }}"
        data-mapping='{{ .mapping | default "pathname" }}'
        data-strict="0"
        data-reactions-enabled="{{ if .reactionsEnabled }}1{{ else }}0{{ end }}"
        data-emit-metadata="{{ if .emitMetadata }}0{{ else }}1{{ end }}"
        data-input-position='{{ .inputPosition | default "top" }}'
        data-theme='{{ .theme | default "preferred_color_scheme" }}'
        data-lang='{{ .lang | default "en" }}'
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
{{ end }}
{{ with .Site.Social.email }}
  <p>
    <a href='mailto:{{ . }}?subject={{ i18n "email-subject" }}"{{ default $.Site.Title $.Page.Title }}"'>
      {{ i18n "email-reply" }} ↪
    </a>
  </p>
{{ end }}
{{ end }}
